{% extends 'base.html' %}

{% block context %}

    {% for car in cars %}

        <section id="catalogue">
            <h1>Total cars: {{ cars.count }}</h1>

            <!-- first car-->
            <div class="car-card">
                <div class="image-wrap">
                    <!-- car image -->
                    <img
                            src="{{ car.image_url }}"
                            alt="Rally"
                    />
                </div>
                <!-- car type -->
                <h3>{{ car.type }}</h3>
                <!-- car model -->
                <h1>{{ car.model }}</h1>
                <div class="details-buttons">
                    <!-- car details button -->
                    <a href="{% url 'details-car' car.pk%}" class="details-btn">Details</a>
                </div>
            </div>

        </section>
        
    {% empty %}

        <p class="no-articles">No cars yet</p>

    {% endfor %}

{% endblock %}